{# Opnemen van de "Main" file #}
{% extends "main.html.twig" %}



{# nu de block content op in de main pagina vullen #}
{% block content %}
    {# Dit is commentaar #}

<div class="row p-3">

     
     <div class="border dishes shadow" >
     <div class="row" style="min-height: 500px;"> 

        <div class="col-md-6">{#get dish image and fill column#}
         <img src="assets/img/{{ data[0].dish.picture }}"class="img-fluid" alt="Responsive image" style="object-fit: cover; height:100%;">
        </div> 

        <div class="col-md-6"> 
            <p><br>{#show 4 person, calories, price#}
            <i class="fas fa-user-friends" style="color:red;"></i> 4
            <i class="fa fa-fire" style="color:red;"></i> {{ data[0].dish.calories }}
            <i style="color:red; font-size:18px; font-family:Arial, Helvetica, sans-serif; font-weight: bold;">&#x20AC </i>{{ (data[0].dish.price/100) |number_format(2, '.', ',') }}
            </p>
            
                <div class="row">{#title and rating#}
                <div class="col-md-6 center-flex" style="" >
                <h1 style="color:var(--darker-green);">{{ data[0].dish.title }} </h1>   
                </div>
                <div class="col-md-6 center-flex" style="">
                 {% for i in 1..5 %}{#set 5 stars and fill by average rating#} 
                <span id="stars" class="stars detail-star fa {% if i <= data[0].dish.rating %}fa-star{% elseif data[0].dish.rating - i == -0.5 %}fa-star-half-full{% else %}fa-star-o{% endif %}" data-value="{{i}}" data-id="{{ data[0].dish.id }}"></span>
                {% endfor %}
               

                </div>
                </div> 
            {#show kitchen and type#}
            <i style="color:var(--darker-green); font-size:30px;font-family: pretty_lilyregular;">Keuken </i>  {{ data[0].dish.kitchen }}
            <i style="color:var(--darker-green);font-size:30px;font-family: pretty_lilyregular;">Type</i>  {{ data[0].dish.type }}
           
            {#dish descriptions#} 
            <p>{{ data[0].dish.short_description }}</p><br>
            <p>{{ data[0].dish.long_description }}</p><br>
            
            <div class="row"> 
            <div class="col-md-6">{#shoplist button#}
            <a class="listbutton" href=index.php?lijst_id={{data[0].dish.id}}&action=shoplist>Op lijst</a>
            </div> 
            <div class="col-md-6">{#like button#}
            {% if session.Login == true %}{#if logged in show like#}
            <a id="likebutton"class=
            {% set break = false %}
            {% for liked in user.like %} {#look throug all dish like ids #}
                 {% if (liked == data[0].dish.id) %}"likebutton gold_ like-active" liked="1"{% set break = true %}{% endif %}{#if the dish id is in user data make heart gold#}
            {% endfor %}
            {% if break == false %}"likebutton like-deactive " liked="0"{% endif %} {#if id not found set heart deactive#}
            data-id="{{ data[0].dish.id }}">&#9825</a>{#set dish id for search#}
            {% endif %}
            </div>
            </div> 
        </div> 
    </div>        
    </div>
    
{#...tabs....................................................................................................................................#}
    <div class="col-md-12 p-3">
     <div class="shadow dishes" style="min-height: 500px" >
        
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link" id="ingredienten-tab" data-toggle="tab" href="#ingredienten" role="tab" aria-selected="true">Ingredienten</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="bereidingdwijze-tab" data-toggle="tab" href="#bereidingdwijze" role="tab" >Bereidingswijze</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="opmerkingen-tab" data-toggle="tab" href="#opmerkingen" role="tab">Opmerkingen</a>
        </li>

        </ul>

        <!-- Tab panes -->
        <div class="tab-content ">
        {#...tab show ingredients......................................................#}
        <div class="tab-pane active" id="ingredienten" role="tabpanel">
                
                {% for ingr in data[0].dish.ingredients %}
                    <div class="row p-3">       
                        <div class="col-md-3" style="height:140px;">
                        &nbsp;
                        <img src="assets/img/{{  ingr.picture }}"class="img-fluid" alt="Responsive image" style="object-fit: cover; height:120px;border-radius: 25px; ">
                        </div>
                        <div class="col-md-9"> 
                        <h3 style="color:var(--darker-green);">{{  ingr.name }}</h3>
                        <span>{{  ingr.description }}</span><br>                   
                        <span class="text-amount">Hoeveelheid:</span>
                        <span>{{  ingr.amount }} {{  ingr.unit }}</span> 
                        </div>   
                    </div>   
                {% endfor %}
                
        </div>
        {#....tab show steps.....................................................#}
        <div class="tab-pane" id="bereidingdwijze" role="tabpanel">
                
                {% for steps in data[0].dish.steps %}
                    <div class="row">       
                        <div class="col-md-2 center-row">
                        &nbsp;
                        <h1 class="number-back">{{  steps.number }}.</h1>
                        </div>
                        <div class="col-md-10 center-start">                       
                        <span>{{  steps.step }}</span>
                        </div>   
                    </div>   
                {% endfor %}
                
        </div>
        {#.....tab remarks....................................................#}
        <div class="tab-pane" id="opmerkingen" role="tabpanel">
                <br>
                {% for remark in data[0].dish.remarks %}
                    <div class="row">       
                        <div class="col-md-3 center-row">
                        &nbsp;
                        <img src="assets/img/{{  remark.picture }}"class="img-fluid" alt="Responsive image" style="object-fit: cover; height:100px;width:100px;border-radius: 50px; border:4px solid var(--lighter-orange);">
                        </div>
                        <div class="col-md-9">
                        <h2 style="color:var(--darker-green);">{{  remark.users }}</h2>
                        <span>{{  remark.remark }}</span>
                        </div>   
                    </div>
                    <br>                  
                {% endfor %}
                
        </div>
        </div>


    </div>
    </div>

</div>

 
{% endblock %}
