{# Opnemen van de "Main" file #}
{% extends "main.html.twig" %}

{% block header %}
<div class="row">
<div class="col-md-12 " style="background-image: url('assets/img/food.jpg'); object-fit: none; height:400px;">
 <div class="topnav">
             <input type="text" placeholder="Search..">
               <a href="#placehold">Placehold</a>
        </div>
         <img src="assets/img/logo-v2.png" style=" width:400px "/> 
</div>
</div>
{% endblock %}


{# nu de block content op in de main pagina vullen #}
{% block content %}
    {# Dit is commentaar #}

<div class="row p-3">

     
     <div class="border dishes shadow" >
     <div class="row"> 
     
        <div class="col-md-6">
         <img src="assets/img/{{ data[0].dish.picture }}"class="img-fluid" alt="Responsive image" style="object-fit: cover; height:100%;">
        </div> 

        <div class="col-md-6"> 
            <p><br>
            <i class="fas fa-user-friends" style="color:red;"></i> 4
            <i class="fa fa-fire" style="color:red;"></i> {{ data[0].dish.calories }}
            <i style="color:red; font-size:18px; font-family:Arial, Helvetica, sans-serif; font-weight: bold;">&#x20AC </i>{{ (data[0].dish.price/100) |number_format(2, '.', ',') }}
            </p>
            
                <div class="row">
                <div class="col-md-6" style="align-items: center; display: flex; justify-content: center;" >
                <h2 style="color:var(--darker-green);">{{ data[0].dish.title }} </h2>   
                </div>
                <div class="col-md-6" style="align-items: center; display: flex; justify-content: center;">
                <h2>{{ data[0].dish.rating }}</h2>
                </div>
                </div> 
            
            <i style="color:var(--darker-green); font-size:30px;font-family: pretty_lilyregular;">Keuken </i>  {{ data[0].dish.kitchen }}
            <i style="color:var(--darker-green);font-size:30px;font-family: pretty_lilyregular;">Type</i>  {{ data[0].dish.type }}
           
            
            <p>{{ data[0].dish.short_description }}</p><br>
            <p>{{ data[0].dish.long_description }}</p><br>
            
            <div class="row"> 
            <div class="col-md-6">
            <a class="listbutton" href=index.php?gerecht_id={{record.dish.id}}&action=detail>Op lijst</a>
            </div> 
            <div class="col-md-6">
            <a class="likebutton" href=index.php?gerecht_id={{record.dish.id}}&action=detail>&#9825</a>
            </div> 
            </div> 

        </div> 
    </div>        
    </div>
    
{#...tabs....................................................................................................................................#}
    <div class="col-md-12 p-3">
     <div class="border dishes shadow" style="height:600px" >
        
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="ingredienten-tab" data-toggle="tab" href="#ingredienten" role="tab" aria-selected="true">Ingredienten</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="bereidingdwijze-tab" data-toggle="tab" href="#bereidingdwijze" role="tab" >Bereidingswijze</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="opmerkingen-tab" data-toggle="tab" href="#opmerkingen" role="tab">Opmerkingen</a>
        </li>

        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
        <div class="tab-pane active" id="ingredienten" role="tabpanel">
                <ul>
                {% for ingr in data[0].dish.ingredients %}
                    <li>
                        <span>{{  ingr.picture }}</span>
                        <span>{{  ingr.name }}</span>
                        <span>{{  ingr.description }}</span>
                        <span>{{  ingr.amount }} {{  ingr.unit }}</span>
                        
                                            
                        
                    </li>
                {% endfor %}
                </ul>
        </div>
        <div class="tab-pane" id="bereidingdwijze" role="tabpanel">
                <ul>
                {% for ingr in data[0].dish.steps %}
                    <li>
                        <span>{{  ingr.number }}</span>
                        <span>{{  ingr.step }}</span>
                        
                                            
        
                    </li>
                {% endfor %}
                </ul>
        </div>
        <div class="tab-pane" id="opmerkingen" role="tabpanel">
                <ul>
                {% for ingr in data[0].dish.remarks %}
                    <li>
                        <span>{{  ingr.users }}</span>
                        <span>{{  ingr.picture }}</span>
                        <span>{{  ingr.remark }}</span>
                        
                                            
                        
                    </li>
                {% endfor %}
                </ul>
        </div>
        </div>


    </div>
    </div>

</div>


 
{% endblock %}
