{# Opnemen van de "Main" file #}
{% extends "main.html.twig" %}

{% block header %}
<div class="row">
{#head section with picture, searchbar and links#}
<div class="col-md-12 " style="height:400px">
<div style="background-image: url('assets/img/food.jpg'); object-fit: cover; height:100%;">
 <div class="topnav" >
             <input type="text" placeholder="Search..">
               <a href="#placehold">Placehold</a>
        </div>
         <img src="assets/img/logo-v2.png" style=" width:400px "/> 
</div>
</div>
</div>
{% endblock %}


{# nu de block content op in de main pagina vullen #}
{% block content %}
    {# details dishes #}
<div class="container" style="display:flex;">
<div class="row">
    {% for record in data %}{# get all dishes#}
     <div class="col-md-6 p-3 row-eq-height" style="min-height: 500px">
     <div class="border dishes shadow" >
        
            {#get dish image and size to collumn#}
            <img src="assets/img/{{ record.dish.picture }}" class="img-fluid imgfoods" alt="Responsive image" style=" object-fit: cover; width:100%; min-height: 250px">
            {# display title and rating#}
            <div class="row">
                <div class="col-md-6" style="align-items: center; display: flex; justify-content: center;" >
                <h2 style="color:var(--darker-green);">{{ record.dish.title }} </h2>   
                </div>
                <div class="col-md-6" style="align-items: center; display: flex; justify-content: center;">
                {#set 5 stars and fill by average rating#}              
                {% for i in 1..5 %}
                <span class="home-star fa {% if i <= record.dish.rating %}fa-star{% elseif record.dish.rating - i == -0.5 %}fa-star-half-full{% else %}fa-star-o{% endif %}"></span>
                {% endfor %}


                </div>
            </div>
            {#dish description#}
            <p style="min-height: 100">{{ record.dish.short_description }}</p><br>
            
            <div class="row">
                <div class="col-md-6" >
                <a class="smulbutton" href=index.php?gerecht_id={{record.dish.id}}&action=detail>Smullen!</a>{#button to go to dish detail page#}
                </div>{# 4 person dinner, calories dish and price#}
                <div class="col-md-6"style="align-items: center; display: flex; justify-content: center;">  
                    <i class="fas fa-user-friends" style="color:red;"> </i>&nbsp;4&nbsp;
                    <i class="fa fa-fire" style="color:red;"> </i>&nbsp;{{ record.dish.calories }}&nbsp;
                    <i style="color:red; font-size:18px; font-family:Arial, Helvetica, sans-serif; font-weight: bold;">&#x20AC </i>&nbsp;{{ (record.dish.price/100) |number_format(2, '.', ',') }}
                </div>
            </div>
            <br>

        
    </div>
    </div>
    {% endfor %}
  
</div>
</div>
 
{% endblock %}


{#some old code to delete later#}


{#
  <div class="row">
    <div class="col-6">
     Print 
    <h1>Heading #1</h1>
    <h2>Heading #2</h2>
    <h3>Heading #3 t/m 5</h3>

    <h4>Dit is de template {{  title }}</h4>
    </div>
    </div>#}


{# Loop 
    <ul>
    
    {% for record in data %}
        <div class="col-6 dishes">
           <li>
            <img src="assets/img/{{ record.dish.picture }}" style="width: 100px; heigfht: 100px;">

            {{ record.dish.title }}
            
            <ul>
                {% for ingr in record.dish.ingredients %}
                    <li>
                        <span {% if ingr.id < 2 %}style='color: #F00'{% endif %}>{{  ingr.name }}</span>

                        
                        {%  if ingr.id == 3 %}
                            <strong>Dit is ID 3!</strong>
                        {%  endif  %}
                    </li>
                {% endfor %}
                
                 
            </ul>
            
            </li> 
            <strong>{{ record.dish.short_description }}</strong>

        </div>
    {% endfor %}
    <ul> 
    #}