{# Opnemen van de "Main" file #}
{% extends "main.html.twig" %}



{# nu de block content op in de main pagina vullen #}
{% block content %}
    {# details dishes #}
<div class="container" style="display:flex;">
<div class="row">
{% set i = 1 %}{#set i to 1#}
    {% for record in data  %} {# get all dishes#}
    {% if i == session.pages * 2 or i == session.pages * 2 - 1  or title == "likepage" %}{#if first and second dish of page then show and n like show all #}
     <div class="col-md-6 p-3 row-eq-height" style="min-height: 400px; max-height: 600px; min-width:350px">
     <div class="border dishes shadow" >
        
            {#get dish image and size to collumn#}
            <img src="assets/img/{{ record.dish.picture }}" class="img-fluid imgfoods" alt="Responsive image" style=" object-fit: cover; width:100%; min-height: 250px">
            {# display title and rating#}
            <div class="row">
                <div class="col-md-6" style="align-items: center; display: flex; justify-content: center;" >
                <h2 style="color:var(--darker-green);">{{ record.dish.title }} </h2>   
                </div>
                <div class="col-md-6" style="align-items: center; display: flex; justify-content: center;">
                {#set 5 stars and fill by average rating#}              
                {% for i in 1..5 %}
                <span class="home-star fa {% if i <= record.dish.rating %}fa-star{% elseif record.dish.rating - i == -0.5 %}fa-star-half-full{% else %}fa-star-o{% endif %}"></span>
                {% endfor %}


                </div>
            </div>
            {#dish description#}
            <p style="min-height: 100">{{ record.dish.short_description }}</p><br>
            
            <div class="row">
                <div class="col-md-6" >
                <a class="smulbutton" href=index.php?gerecht_id={{record.dish.id}}&action=detail>Smullen!</a>{#button to go to dish detail page#}
                </div>{# 4 person dinner, calories dish and price#}
                <div class="col-md-6"style="align-items: center; display: flex; justify-content: center;">  
                    <i class="fas fa-user-friends" style="color:red;"> </i>&nbsp;4&nbsp;
                    <i class="fa fa-fire" style="color:red;"> </i>&nbsp;{{ record.dish.calories }}&nbsp;
                    <i style="color:red; font-size:18px; font-family:Arial, Helvetica, sans-serif; font-weight: bold;">&#x20AC </i>&nbsp;{{ (record.dish.price/100) |number_format(2, '.', ',') }}
                </div>
            </div>
            <br>

        
    </div>
    </div>
    {% endif %}

    {% set i = i + 1 %}{# add 1 to i#}
    {% endfor %}
  
</div>
</div>


</div>
{% endblock %}

{%  block pagination %}{##}
 {% if title == "homepage" %}{#only show on homepage#}
<div class="row">
    <div class="col-md-4 center-row" >
    </div>
    <div class="col-md-8 center-row" >{#center on the right#}
        
        <div class="pagination">
        {% for i in 1..4 %}{#make onlt 4 pages. set current page active and number pages#}
        <a class="pages page{{ i }} {% if i == session.pages %} active {% endif %}" number="{{ i }}" href=index.php?page={{ i }}>{{ i }}</a>
        {% endfor %}
        </div>
    </div>
</div>
{% endif %}
{%  endblock %}

