{# Opnemen van de "Main" file #}
{% extends "main.html.twig" %}

{% block header %}
<div class="row">
<div class="col-md-12 " style="background-image: url('assets/img/food.jpg');">
 <div class="topnav">
             <input type="text" placeholder="Search..">
               <a href="#placehold">Placehold</a>
        </div>
         <img src="assets/img/logo-v2.png" style=" width:400px "/> 
</div>
</div>
{% endblock %}


{# nu de block content op in de main pagina vullen #}
{% block content %}
    {# Dit is commentaar #}

<div class="row">

     <div class="col-md-12 p-3 row-eq-heightw">
     <div class="border dishes shadow" >
          placeholder...
         <img src="assets/img/{{ data[0].dish.picture }}" style=" width:100%; hight:300px;">

            <h2 style="color:var(--darker-green);">{{ data[0].dish.title }} </h2>   
            <h2>{{ data[0].dish.rating }}</h2>
            
            

            <p>{{ data[0].dish.short_description }}</p><br>
            <p>
            <i class="fas fa-user-friends" style="color:red;"></i> 4
            <i class="fa fa-fire" style="color:red;"></i> {{ data[0].dish.calories }}
            <i style="color:red; font-size:18px; font-family:Arial, Helvetica, sans-serif; font-weight: bold;">&#x20AC </i>{{ (data[0].dish.price/100) |number_format(2, '.', ',') }}
            </p>
    </div>
    </div>

</div>


 
{% endblock %}